# Django
SECRET_KEY=django-insecure-&^j_tlr%oni!...........
DEBUG=True

# Email Backend
EMAIL_HOST=EMAIL_HOST
EMAIL_PORT=EMAIL_PORT
EMAIL_HOST_USER=EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
EMAIL_USE_TLS=EMAIL_USE_TLS
DEFAULT_FROM_EMAIL=DEFAULT_FROM_EMAIL